<header>

  <div class="masthead-elements-row-1">
    <div class="element-left"></div>
    <div class="element-middle">
      <%= image_tag "fix_home/fix-logotype.png", class:"logo", alt:"Fix" %>
      <br>
      <span class="logo-text">Fine Coffee Kits</span>
    </div>
    <div class="element-right">
      <div id="link-to-cart">
        <noscript>
          <%= link_to cart_path do %>
            <span class='glyphicon glyphicon-shopping-cart' title='<%= Spree.t(:shopping_cart) %>'></span>
          <% end %>
        </noscript>
        &nbsp;
      </div>
      <script>Spree.fetch_cart()</script>
    </div>
  </div>

  <div class="masthead-elements-row-2">
    <div class="element-middle">
      <%= link_to '/t/kit', class: "btn btn-default" do %>Browse Kits<% end %>
      <%= link_to '/products', class: "btn btn-trans" do %>Browse Products<% end %>
    </div>
  </div>

</header>
<section class="textured-section">

  <h1>Curated Coffee Components</h1>

  <ul class="products">
  <% cache(cache_key_for_taxon_children('featured')) do %>
    <%- Spree::Taxon
        .where(permalink: 'featured')
        .first
        .products.each do |product| -%>
      <li>
        <%= link_to product, class: "hot-link" do %>
          <%= large_image(product,  class: "product-image", alt: "") %>
          <h3 class="product-name"><%= product.name %></h3>
        <% end %>
        <div class="product-price"><%= product.display_price.to_html %></div>
        
        <%= form_for :order, url: populate_orders_path do |f| %>
          <%= hidden_field_tag "variant_id", product.master.id %>
          <%= hidden_field_tag "quantity", 1 %>
          <div class="kit-button"><%= button_tag type: :submit, class: "btn btn-hot" do %>
            Add to Cart
          <% end %></div>
        <% end %>
      </li>

    <%- end -%>
  <% end %>
  </ul>

</section>
<section>

  <h1>Complete Brewing Kits</h1>

  <ul class="kits">
  <% cache(cache_key_for_taxon_children('kit')) do %>
    <%- Spree::Taxon
        .where(permalink: 'kit')
        .first
        .children.each do |kit| -%>
      <li>
        <%= link_to seo_url(kit), class: "hot-link" do %>
          <% if kit.group_file_name %>
            <%= image_tag kit.group.url, class: "kit-image", alt: "" %>
          <% end %>
          <h3 class="kit-name"><%= kit.name %></h3>
        <% end %>
        <%- # Calculate kit prices
        taxon_total = kit.products.inject(0.0) do |sum, product| 
          product.price_in(current_currency).price + sum
        end
        taxon_price = Spree::Price.new(currency: current_currency)
        taxon_price.price = taxon_total
        -%>
        <div class="kit-price"><%= taxon_price.display_price.to_html %></div>

        <%= form_for :order, url: multi_populate_orders_path do |f| %>
          <%- kit.products.each_with_index do |product, i| -%>
            <%= hidden_field_tag "line_items[#{i}][variant_id]", product.master.id %>
            <%= hidden_field_tag "line_items[#{i}][quantity]", 1 %>
          <%- end -%>
          <div class="kit-button"><%= button_tag type: :submit, class: "btn btn-hot" do %>
            Add to Cart
          <% end %></div>
        <% end %>
      </li>

    <%- end -%>
  <% end %>
  </ul>

</section>
<footer>

  <div class="trailer-logo">
    <%= image_tag "fix_home/fix-logotype.png", class:"logo", alt:"Fix" %>
    <br>
    <span class="logo-text">Fine Coffee Kits</span>
  </div>

  <div class="trailer-links">
    <ul class="internal-links">
      <li><a href="https://heroku.github.io/fix">About</a></li>
      <li><a href="https://heroku.github.io/fix">Support</a></li>
      <li><a href="https://heroku.github.io/fix">Contact Us</a></li>
    </ul>
    <ul class="social-links">
      <li><a href="#">
        <%= image_tag "fix_home/social/twitter.png", class:"social-logo", alt:"" %>
        <span class="social-verb">Follow on</span>
        <span class="social-name">Twitter</span></a></li>
      <li><a href="#">
        <%= image_tag "fix_home/social/facebook.png", class:"social-logo", alt:"" %>
        <span class="social-verb">Like Us on</span>
        <span class="social-name">Facebook</span></a></li>
      <li><a href="#">
        <%= image_tag "fix_home/social/instagram.png", class:"social-logo", alt:"" %>
        <span class="social-verb">Follow on</span>
        <span class="social-name">Instagram</span></a></li>
    </ul>
  </div>

</footer>
