<%= form_for :order,
  :url => multi_populate_orders_path,
  :html => { :class => 'taxon-add-to-cart' } do |f| %>

  <%- @products.each_with_index do |product, i| -%>
    <%= hidden_field_tag "line_items[#{i}][variant_id]", product.master.id %>
    <%= hidden_field_tag "line_items[#{i}][quantity]", 1 %>
  <%- end -%>

  <div class="add-to-cart">
    <%= button_tag :class => 'btn btn-default', :id => 'add-to-cart-button', :type => :submit do %>
      <%= Spree.t(:add_kit_to_cart) %>
    <% end %>
  </div>

<% end %>
